<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="navbar">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@200&family=Oxygen&family=Poppins:ital,wght@0,200;0,400;1,100;1,200;1,300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/CSS/styleAbout.css">

</head>
<body>
<div layout:fragment="content1">
    <div class="leftWay">
    </div>
    <div class="rightWay">
        <h1>À PROPOS</h1>
        <p style="color:whisd">
        <p>Centre My Kiné est un cabinet de kinésithérapie et de physiothérapie situé en plein centre du grand Casablanca, créé en 2017 par Mme. EL KORTBI Zoubida.</p>
        <p>Notre devise est de vous accompagner non seulement durant votre pathologie mais aussi en phase de prévention et d’entretien, quel que soit votre âge ou votre pathologie.</p>
        <p>Nos kinésithérapeutes interviennent à partir du bilan établi lors de la première consultation. Une fois le diagnostic kinésithérapique posé, différentes techniques thérapeutiques sont utilisées en mode manuel ou/et instrumental.</p>
        <p>Notre équipe aura le plaisir de vous recevoir dans nos locaux ou à domicile, dans une ambiance professionnelle.</p>
        </p>
<!--        <div class="container">-->
<!--            <footer>-->
<!--                <p style="color: black; font-size: 80%">&copy; 2023 Youssef Elkortbi, Mohamed Ezzaki. All Rights Reserved.</p>-->
<!--                <p style="color: black; font-size: 80%">we are software engineering student</p>-->
<!--            </footer>-->
<!--        </div>-->
    </div>
</div>
</body>
</html>